/* Montserrat Regular-400 */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2");
}
/* Montserrat Medium 600 */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff"),
    url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2");
}
/*Montserrat Bold-700 */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2");
}
/* Montserrat Bold-800 */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v15-latin_cyrillic-800.woff") format("woff"),
    url("../fonts/montserrat-v15-latin_cyrillic-800.woff2") format("woff2");
}

:root {
  --color-gray41: #414141;
  --color-gray66: #666666;
  --color-dark-gray: #222222;
  --color-black: #000000;
  --color-gray: #333333;
  --color-light-gray: #cacaca;
  --color-body: #ffffff;
  --color-white: #ffffff;
  --color-light-orange: #ffc266;
  --color-brand: #ff9900;
  --color-orange: #e1670e;
  --transition: 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  background-color: var(--color-body);
}

textarea,
input,
button {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1870px;
}

.heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-gray);
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.text {
  line-height: 32px;
}

.text-tooltip {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/tooltip.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn-primary-lg {
  display: inline-block;
  padding: 26px 37px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-brand);
  transition: background-color var(--transition);
}

.btn-primary-lg:hover {
  background-color: var(--color-light-orange);
}

.btn-primary-lg:active {
  background-color: var(--color-orange);
}

.btn-primary {
  display: inline-block;
  padding: 20px 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-brand);
  transition: background-color var(--transition);
}

.btn-primary:hover {
  background-color: var(--color-light-orange);
}

.btn-primary:active {
  background-color: var(--color-orange);
}

.btn-outline-primary {
  display: inline-block;
  padding: 16px 35px;
  border: 3px solid var(--color-brand);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  color: var(--color-white);
  transition: background-color var(--transition), border var(--transition);
}

.btn-outline-primary:hover {
  background-color: var(--color-brand);
}

.btn-outline-primary:active {
  border: 3px solid var(--color-orange);
  background-color: var(--color-orange);
}

.btn-outline-secondary {
  display: inline-block;
  padding: 18px 38px;
  border: 1px solid var(--color-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  color: var(--color-gray);
  transition: background-color var(--transition), color var(--transition);
}

.btn-outline-secondary:hover {
  color: var(--color-body);
  background-color: var(--color-gray66);
}

.btn-outline-secondary:active {
  color: var(--color-body);
  background-color: var(--color-black);
}

/* Header */
.header {
  position: fixed;
  padding: 14px 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background-color: var(--color-body);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  width: 224px;
  height: 72px;
}

.header__logo img {
  object-fit: contain;
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  margin-right: 71px;
}

.header__item {
  margin-right: 85px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-gray);
}

.header__link--active {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-brand);
}

.header__link:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-brand);
}

.header__link:active {
  color: var(--color-orange);
  border-bottom: 2px solid var(--color-orange);
}

.header__burger {
  display: none;
  align-items: center;
  flex-direction: row-reverse;
  width: 30px;
  height: 23px;
  outline: none;
}

.burger__line {
  position: relative;
  transition: width var(--transition), background-color var(--transition);
}

.burger__line,
.burger__line::before,
.burger__line::after {
  width: 30px;
  height: 3px;
  background-color: var(--color-gray);
}

.burger__line::before,
.burger__line::after {
  content: "";
  position: absolute;
  right: 0;
  transition: transform var(--transition), width var(--transition);
  background-color: inherit;
}

.burger__line::before {
  transform: translateY(-10px);
}

.burger__line::after {
  transform: translateY(10px);
}

.header__burger.active .burger__line {
  height: 0;
}

.header__burger.active .burger__line::before {
  transform: rotate(45deg);
}

.header__burger.active .burger__line::after {
  transform: rotate(-45deg);
}

.header__burger:hover .burger__line {
  background-color: var(--color-brand);
}

.header__burger:hover .burger__line {
  width: 25px;
}

.header__burger:hover .burger__line::after {
  width: 18px;
}

.header__burger.active:hover .burger__line,
.header__burger.active:hover .burger__line::after {
  width: 30px;
}

.header__burger:active .burger__line {
  background-color: var(--color-orange);
}

.header__search {
  width: 25px;
  height: 25px;
}

.header__search svg rect {
  transition: fill var(--transition);
}

.header__search svg circle {
  transition: stroke var(--transition);
}

.header__search:hover svg rect {
  fill: var(--color-brand);
}

.header__search:hover svg circle {
  stroke: var(--color-brand);
}

.header__search:active svg rect {
  fill: var(--color-orange);
}

.header__search:active svg circle {
  stroke: var(--color-orange);
}

/* Preview */
.preview {
  margin-bottom: 101px;
  padding-top: 100px;
}

.preview__slide {
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px;
  min-height: 620px;
}

.preview__img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.preview__text {
  max-width: 1002px;
}

.preview__heading {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  color: var(--color-white);
}

.preview__desc {
  margin-bottom: 104px;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  color: var(--color-white);
}

/* About */
.about {
  margin-bottom: 100px;
}

.about__heading {
  padding-bottom: 20px;
}

.about__description {
  margin-bottom: 44px;
  max-width: 1235px;
  line-height: 32px;
}

.about__content {
  display: flex;
}

.about__advantages-list,
.about__banner {
  flex-grow: 0;
  flex-basis: calc((100% - 30px) / 2);
}

.about__banner {
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
  min-height: 622px;
  background-image: url(../img/content/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__more {
  display: flex;
  align-items: center;
  padding: 44px 54px;
  background: rgba(0, 0, 0, 0.5);
}

.more__description {
  padding-right: 76px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-white);
}

.about__advantages-list {
  display: flex;
  flex-direction: column;
}

.about__advantages-item {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  padding: 64px;
  border: 1px solid var(--color-light-gray);
}

.about__advantages-image {
  margin-right: 59px;
  min-width: 178px;
  height: 137px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about__advantages-heading {
  margin-bottom: 4px;
}

.about__advantages-item--one .about__advantages-image {
  background-image: url(../img/icon/advantages-item--one.svg);
}
.about__advantages-item--two .about__advantages-image {
  background-image: url(../img/icon/advantages-item--two.svg);
}

.about__advantages-item--one {
  margin-bottom: 30px;
}

/* Stages */
.stages {
  margin-bottom: 100px;
}

.stages__heading {
  margin-bottom: 50px;
}

.tabs__list {
  display: flex;
  margin-bottom: 51px;
}

.tabs__item--active {
  color: var(--color-brand);
}

.tabs__item {
  margin-right: 90px;
  font-size: 18px;
  transition: color var(--transition);
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__item:hover {
  color: var(--color-brand);
}

.tabs__item:active {
  color: var(--color-orange);
}

.tabs__content-item {
  display: flex;
}

.tabs__content-text,
.tabs_content-image {
  flex-grow: 0;
  flex-basis: calc((100% - 30px) / 2);
}

.tabs__content-text {
  padding-right: 80px;
  margin-right: 30px;
}

.tabs__heading {
  margin-bottom: 8px;
}

.tabs__desc {
  margin-bottom: 80px;
}

.tabs__btn-primary {
  margin-right: 28px;
}

.tabs_content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*FaQ*/
.faq {
  margin-bottom: 105px;
}

.faq__headline {
  margin-bottom: 39px;
}

.faq__item {
  position: relative;
  border-bottom: 1px solid var(--color-light-gray);
  border-top: 1px solid var(--color-light-gray);
  transition: border-bottom var(--transition), border-top var(--transition),
    color var(--transition);
  margin: 0 0 -1px;
}

.faq__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 31px 0;
  width: 100%;
}

.faq__item:hover .faq__heading {
  color: var(--color-brand);
}

.faq__item:hover {
  border-bottom: 1px solid var(--color-brand);
  border-top: 1px solid var(--color-brand);
  z-index: 1;
}

.slash-gray {
  color: var(--color-light-gray);
}

.faq__heading {
  padding-right: 27px;
}

.faq__icon {
  min-width: 50px;
  height: 50px;
}

.faq__item:hover ellipse {
  fill: #d2d2d2;
}

/* Footer */
.footer {
  background-color: var(--color-dark-gray);
}

.footer__wrapper {
  display: flex;
  padding: 61px 0;
}

.footer__nav,
.footer__request,
.footer__text {
  flex-basis: calc((100% - 40px) / 3);
}

.footer__nav {
  flex-basis: 35%;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 19px;
  width: 224px;
  height: 72px;
}

.footer__logo img {
  object-fit: contain;
}

.nav__list {
  margin-bottom: 100px;
}

.nav__item {
  margin-bottom: 14px;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-light-gray);
  transition: color var(--transition);
}

.nav__link:hover {
  color: var(--color-brand);
}

.nav__link:active {
  color: var(--color-orange);
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 25px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.socials__link-fb {
  background-image: url(../img/icon/fb.svg);
}

.socials__link-vk {
  background-image: url(../img/icon/vk.svg);
}

.socials__link-inst {
  background-image: url(../img/icon/instagram.svg);
}

.footer__request {
  min-width: 576px;
  max-width: 576px;
}

.footer__text {
  padding: 64px 0 0 64px;
}

.footer__desc {
  color: var(--color-light-gray);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__heading {
  margin-bottom: 18px;
  color: var(--color-light-gray);
}

.form__input {
  margin-bottom: 27px;
  padding: 14px 24px;
  width: 100%;
  line-height: 32px;
  font-size: 16px;
  border-style: none;
  color: var(--color-light-gray);
  background-color: var(--color-gray41);
}

.form__input--textarea {
  height: 150px;
  resize: none;
}

.form__send {
  display: flex;
  align-items: center;
}

.form__btn {
  margin-right: 20px;
  padding: 20px 52px;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__input + label {
  display: inline-flex;
  align-items: baseline;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-gray);
  user-select: none;
  cursor: pointer;
}

.checkbox__input + label::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-light-gray);
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transform: translateY(2px);
}

.checkbox__input:checked + label::before {
  border-color: var(--color-body);
  background-image: url(../img/icon/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 0 -1px;
  background-size: contain;
}

.checkbox__input:focus + label::before {
  box-shadow: 0 0 0 1px var(--color-body);
}

/* Адаптив */

@media (max-width: 1370px) {
  .about__description {
    max-width: 925px;
  }
  .about__banner {
    flex: 55%;
  }
  .about__advantages-list {
    flex: 40%;
  }
  .about__advantages-item {
    flex-direction: column;
  }
  .about__advantages-image {
    margin-right: 0;
  }
  .about__advantages-text {
    text-align: center;
  }
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__nav {
    flex-basis: 41%;
  }
  .footer__text {
    flex: 1 1 100%;
    padding: 50px 0 0;
  }
}

@media (max-width: 1260px) {
  .header {
    padding: 26px 0;
  }
  .header__list {
    display: none;
  }
  .header__burger {
    display: flex;
  }
  .header__logo {
    width: 150px;
    height: 48px;
  }
  .preview {
    margin-bottom: 55px;
  }
  .preview__slide {
    padding: 55px;
  }
  .preview__heading {
    max-width: 720px;
    font-size: 60px;
    line-height: 73px;
  }
  .preview__desc {
    max-width: 720px;
    font-size: 20px;
    line-height: 25px;
  }
  .about {
    margin-bottom: 55px;
  }
  .about__content {
    flex-direction: column;
  }
  .about__banner {
    margin-right: 0;
    margin-bottom: 45px;
  }
  .about__advantages-item--one {
    margin-bottom: 45px;
  }
  .about__advantages-item {
    display: flex;
    flex-direction: row;
    padding: 79px;
  }
  .about__advantages-image {
    margin-right: 59px;
  }
  .stages {
    margin-bottom: 55px;
  }
  .stages__heading {
    margin-bottom: 38px;
  }
  .tabs__desc {
    margin-bottom: 32px;
  }
  .footer__request {
    max-width: 540px;
    min-width: 540px;
  }
  .form__btn {
    padding: 20px 0px;
    flex: 1 0 44.5%;
  }
  .form__checkbox {
    flex: 1 0 52%;
  }
}

@media (max-width: 1023px) {
  .preview .container {
    padding: 0;
  }
  .header {
    padding: 11px 0;
  }
  .header__logo {
    width: 150px;
    height: 48px;
  }
  .preview {
    padding-top: 70px;
  }
  .about__more {
    padding: 30px;
  }
  .more__description {
    padding-right: 35px;
  }
  .about__advantages-item {
    padding: 50px;
  }
  .about__advantages-text {
    text-align: left;
  }
  .tabs__list {
    justify-content: space-between;
  }
  .tabs__item {
    margin-right: 0;
  }
  .tabs__content-item {
    flex-direction: column-reverse;
  }
  .tabs_content-image {
    margin-bottom: 38px;
  }
  .tabs__content-text {
    padding-right: 0;
    margin-right: 0;
  }
  .faq__headline {
    margin-bottom: 30px;
  }
  .faq__heading {
    font-size: 20px;
  }
  .faq {
    margin-bottom: 50px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__request {
    margin-bottom: 50px;
  }
  .footer__nav {
    margin-right: 0;
  }
  .nav__list {
    display: none;
  }
  .footer__text {
    display: none;
  }
}
